body {
    min-width: 200px;
	border: 3px solid black;
	padding: 5px;
}

body.can-reschedule{
	border: 3px solid LightGreen;
}

#next-free-appointment-date.can-reschedule {
	color: Green;
	text-decoration: underline;
}


button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

#appointment-details-div{
	display: none;
}